字符串(string)

In [14]:
s = 'My name is Richard.'
print(s)

My name is Richard.

In [15]:
s = "My name is Richard."
print(s)

My name is Richard.

In [16]:
s = """My name is Richard."""
print(s)
s = '''My name is Richard.'''
print(s)

My name is Richard.
My name is Richard.

In [18]:
s = "Tom's coat is nice."
print(s)

Tom's coat is nice.

In [19]:
s = 'She said "I love you."'
print(s)

She said "I love you."

In [22]:
s = '''
She said 
"I love you."'''
print(s)

She said
"I love you."

格式化字符串

In [27]:
name = "Tom"
age = 20
s = f"My name is {name}, and i am {age}, and i will be {age + 1} next year."
print(s)

My name is Tom, and i am 20, and i will be 21 next year.

In [28]:
for i in range(1, 11):
    url = f"http://abc.com/page={i}"
    print(url)

http://abc.com/page=1
http://abc.com/page=2
http://abc.com/page=3
http://abc.com/page=4
http://abc.com/page=5
http://abc.com/page=6
http://abc.com/page=7
http://abc.com/page=8
http://abc.com/page=9
http://abc.com/page=10

In [33]:
s = "fdsa"
print(s[0])

f

In [34]:
for i in s:
    print(i)

f
d
s
a

In [35]:
for i in range(len(s)):
    print(s[i])

f
d
s
a

In [37]:
print(s[:-1])

fds

replace(), split(), join()

In [24]:
s = "My name is Richard."
s = s.replace(" ", ",", 0)
print(s)

My name is Richard.

In [29]:
s = "My name is Richard."
s = s.replace(' ', '|')
print(s)
print(s.split("|"))

My|name|is|Richard.
['My', 'name', 'is', 'Richard.']

In [32]:
s = "My name is Richard."
s = s.replace(' ', '|')
print(s)
ml = s.split("|")
print(ml)
print('@'.join(ml))

My|name|is|Richard.
['My', 'name', 'is', 'Richard.']
My@name@is@Richard.

1. 提取时间字符串（yyyy-mm-dd hh:mi:ss) 的所有数字，组成一个列表。

In [14]:
date = "2023-07-24 18:30:33"
date = date.replace(' ', '-').replace(":", "-").split("-")
# date = date.replace(':', '-')
# date = date.split('-')
print(date)

['2023', '07', '24', '18', '30', '33']

2. 输出20个相同的字符串。

In [19]:
print("a" * 200)

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

3. 给一个字符串，要求：一、求它长度，二、逆序打印出字符串。

In [21]:
s = "fdsa"
print(len(s))

for i in range(len(s) - 1, -1, -1):
    print(s[i])

4
a
s
d
f

4. 题目：一个5位数，判断它是不是回文数。即12321是回文数，个位与万位相同，十位与千位相同。

In [23]:
s = "12331"
if s[4] == s[0] and s[3] == s[1]:
    print(f"{s} 是回文数")
else:
    print(f"{s}不是回文数")

12331不是回文数

5. 把11位手机号改成138 1234 5678格式输出

In [24]:
tel_number = '13812345678'
final_s = f"{tel_number[:3]} {tel_number[3:7]} {tel_number[7:]}"
print(final_s)

138 1234 5678

6. 从字符串“1-2-3-4-5”中提取数字，并将它们拼接为一个新的字符串，每个数字用逗号分隔，并打印结果。

In [27]:
s = '1-2-3-4-5'
s = s.replace('-', ',')
# s = ','.join(s)
print(s)

1,2,3,4,5

In [29]:
print('''
   *
  ***
 *****
*******
 *****
  ***
   *
''')

   *
  ***
 *****
*******
 *****
  ***
   *

In [34]:
rows = 8
for i in range(rows):
    space = abs(rows // 2 - i)
    star = rows - 2 * space
    print(f"{' ' * space}{'*' * star}")
    # i:        0,1,2,3,4,5,6
    # space:    3,2,1,0,1,2,3
    # star:     1,3,5,7,5,3,1

   **
  ****
 ******
********
 ******
  ****
   **